body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

thead {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #dc143c;
}

#id {
  position: absolute;
  left: 15px;
  top: 15px;
}

#xray {
  position: absolute;
  left: 30px;
  top: 30px;
}

#xray2 {
  position: absolute;
  left: 310px;
  top: 20px;
}

#resultsTable {
  position: absolute;
  left: 30px;
  top: 260px;
}