body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

thead {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: crimson;
}

#xray {
  position: absolute;
  left: 20px;
  top: 20px;
}

#xray2 {
  position: absolute;
  left: 20px;
  top: 20px;
}
#resultsTable {
  position: absolute;
  left: 20px;
  top: 250px;
}